{
	"presets": [
		[
			"@babel/preset-env",
			{
				"targets": {
					"node": "8.9.3"
				},
				"useBuiltIns": "entry",
				"debug": true
			}
		]
	],
	"plugins": [
		"@babel/plugin-proposal-class-properties"
	],
	"env": {
		"production": {
			"presets": [],
			"plugins": []
		},
		"development": {
			"presets": [],
			"plugins": []
		}
	}
}
